#RegistroContainer {
  position: relative;
  height: 100vh;
}

#FormularioRegistro {
  border: 1px solid #ccc;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
}

#FormularioRegistro > input {
  margin-top: 20px;
  width: 100%;
}

#FormularioRegistro > button {
  margin-top: 20px;
}
